
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Record</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Record</h2>
            <span class="text-light">Use the below form to Update an Record</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= user.email%>" placeholder="example@gmail.com">
            <div class="form-group">
                <label for="mob" class="text-light">Mobile Nume</label>
                <input type="text" name="mob" value="<%= user.mob%>" placeholder="enter mob number">
                <div class="form-group">
                    <label for="plot_ID" class="text-light">Plot ID</label>
                    <input type="text" name="plot_ID" value="<%= user.plot_ID%>" placeholder="Enter plot number">
        </div>

        
        <div class="form-group">
            <label for="plot_type" class="text-light">Plot type</label>
            <input type="text" name="plot_type" value="<%= user.plot_type%>" placeholder="Residential/Commercial/Agriculture/Goverment">
</div>
        <div class="form-group">
            <label for="plot_price" class="text-light">Plot Price</label>
            <input type="text" name="plot_price" value="<%= user.plot_price%>" placeholder="Enter plot price">
</div>
      
        

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" <%= user.status == 'Active' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
